*{
    margin: 0px; 
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: black!important;
}

.all-content {
    background-color: black;
    font-family: "Host Grotesk", sans-serif;
}

/* navbar start */
#navbar {
    background-color:rgb(20, 3, 1);
    padding-left: 10px;
    font-weight: bold;
    }

#logo {
    font: size 23px; 
    color: rgb(252, 251, 248);
} 

#logo img {
    margin-bottom: 15px;
}

.navbar-nav {
    margin-left: 10px;

}

.nav-link {
    color: rgb(252, 251, 248);
    font-weight: bold;
    text-shadow: 1px 1px 1px black;
    margin-left: 30px;
    transition: 0.5s ease;
}

.nav-link:hover{
    background-color: rgb(209, 172, 8);
    color: white;
    border-radius: 5px ;
}

.icons{
    margin-left: 15px;
}

.icons img{
    margin-left: 10px;
    transition: 0.5s ease;
    cursor: pointer;
}

.icons img:hover{
transform: translateY(-5px) ;
}

/* media queries, aplicar estilo com base na tela do aparelho que está o site, ajudando na parte de responsabilidade do site. No caso abaixo, a regra reduz a fonte para 15px quando a largura da tela for igual ou menor que 300px */
@media screen and(max-width: 330px){ 
    #logo {
        font-size: 15px;
    }
}
/* navbar end */

/* home section start */
.home{
    width: 100%;
    height: 88.5vh;
    display: flex;
    background-image: linear-gradient (rgba(0,0,0,0.3), rgba(0,0,0,0.3));
    background-image: url(./images/pernalongaban.png);
    background-color: black;
    background-size: cover;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    z-index: 0;
    }

.home .img {
        flex: 1 1 100px; 
    }

#testeimg{
    width: 50%;
}

.home .img .img{
    width: 100%;
}

.home .content{
    flex: 1 1 400px;
    margin-left: 60px;
}

.content h3{
    color: white;
    font: size 60px; 
    font-weight: bold;
    text-shadow: 1px 1px 1px black;
}

.content h2{
    font-size: 60px;
    color: rgb(218, 198, 18);
    text-shadow: 2px 3px 3px black;
    font-weight: bold;
}

@keyframes changetext {
    0% {content: Witch Lezah;}
    20% {content: Hozie;}
    50% {content: fff;}
    60% {content: Witch Lezah;}
    100% {content: Witch Lezah;}
}
/* Não está funcionando End */
.content p{
    color: white;
    font-weight: bold;
    text-shadow: 1px 1px 1px black;
}

.content .btn{
    width: 200px;
    height: 38px;
    background-color: rgb(221, 190, 13);
    color: black;
    font-weight: bold;
    letter-spacing: 2px;
}

@media screen and (max-width:800px){
    .content h3{
        font-size: 50px;
    }
}

@media screen and (max-width:860px){
    .home{
        height: 120vh;
    }
}

@media screen and (max-width:560px){
    .home{
        height: 100vh;
    }
}

@media screen and (max-width:30px){
    .content h2{
        font-size: 30px;
    }
    .content h3{
        font-size: 30px;
    }
}
/* home section end */

/* top cards start */
#box{
    margin-top: 50px;
}
#box .card{
    box-shadow: 0px 0px 5px rgb(221, 190, 13);
    margin-top: 10px;
    transition: 0.5s ease;
    cursor: pointer;
    margin-bottom: 50px;
}
#box .card:hover{
    transform: translateY(-10px);
}
/* top cards end */

/* banner do meio start */
.banner{
    width: 100%;
    height: 60vh;
    display: flex;
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6));
    background-image: url(./images/wallpaper1.png);
    background-size: cover;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    box-shadow: 0px 0px 10px black;
}
.banner .content{
    flex: 1 1 400px;
    margin-left: 60px;
    margin-top: 60px;
}
.banner .content h3{
    color: rgb(209, 172, 8);
    font-weight: bold;
}
.banner .content h2{
    font-size: 50px;
    color: rgb(255, 248, 248);
    font-weight: bold;
    text-shadow: 1px 1px 1px black;
}
.banner .content p{
    color: rgb(209, 172, 8);
}
#btnorder button{
    width:220px ;
    height: 32px;
    font-weight: bold;
    letter-spacing: 1px;
    background-color: rgb(221, 190, 13);
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
@media screen and (max-width:800px){
    .banner .content h3{
        font-size: 50px;
    }
}
@media screen and (max-width:855px){
    .banner{
        height: 100vh;
    }
}
/* banner do meio end */

/* card news start */
#product-cards{
    background-color: black;
    padding:  50px;
}
.card{
    padding: 10px;
}

#product-cards h1{
    text-align: center;
    font-weight: bold;
    color: rgb(209, 172, 8);
    text-shadow: 1px 1px 1px black;
    border-bottom: 2px solid  rgb(209, 172, 8);
}
#product-cards .card{
    background-color: white;
    box-shadow:0 0 3px rgb(209, 172, 8);
    border-radius: 5px;
    cursor: pointer;
}
.overlay{
    display: block;
    opacity: 0;
    position: absolute;
    top: 10%;
    margin-left: 0;
    width: 70px;
}
#product-cards .card:hover .overlay{
    opacity: 1;
    margin-left: 5%;
    transition: 0.5s ease;
}
.overlay i img{
    background-color: black;
    height: 30px;
    width: 30px;
    font-size: 20px;
    padding: 7px;
    margin:  -20%;
    margin-bottom: 5%;
    cursor: pointer;
}
.overlay .btn-secondary{
    background: transparent !important;
    border: none;
    box-shadow: none;
}
#product-cards h3{
    color: rgb(209, 172, 8);
    text-shadow: 1px 1px 1px black;
}
#product-cards p{
    color: black;
    font-weight: bold;
}
/* card news end */

/* about us start */
#about{
    padding: 50px;
    background-color: black;
} 
#about h1{
    text-align: center;
    font-weight: bold;
    color: rgb(209, 172, 8);
    text-shadow: 1px 1px 1px black;
    border-bottom: 2px solid rgb(209, 172, 8);
}
#about .card{
    background-color: black;
}
#about p{
    color: white;
    font-weight: bold;
}
#bt button{
    width: 150px;
    height: 32px;
    font-weight: bold;
    letter-spacing: 2px;
    background-color: rgb(221, 190, 13);
    color: black;
    border: none;
    cursor: pointer;
}
@media screen and (max-width:1000px){
    #about p{
        font-size: 13px;
    }
}
@media screen and (max-width:760px){
    #about p{
        font-size: 20px;
    }
}
/* about us end */

/* formulario contato start */
.tela{
    background-color: rgb(221, 190, 13);
}
.bet{
    background-color: rgb(221, 190, 13);
}
#contact{
    margin-top: 100px;
    margin-bottom: 10px;
    margin-left: auto; /* add */
    margin-right: auto; /* add */
}
#contact h1{
    text-align: center;
    font-weight: bold;
    margin-top: 60px;
    margin-bottom: 30px; /* add */
    color: rgb(2, 2, 0);
    text-shadow: 1px 1px 1px black;
    border-bottom: 2px solid rgb(2, 2, 0);
}
#contact input{
    background-color:  black;
}

#contact input::placeholder{
    color:  white;
}

#contact .row{
    display: flex;
    justify-content: center; /* Centralizando as colunas horizontalmente */
    margin-top: 10px; /* Adicionando uma margem no topo */
    margin-bottom: 10px;  /* Adicionando uma margem na parte de baixo */
}

#contact .col-md-4 {
    margin-top: 10px;  /* Adicionando margem em cima de cada coluna */
    margin-bottom: 10px; /* Adicionando margem embaixo de cada coluna */
}

#messagebtn{
text-align: center;
}
#messagebtn button{
    width: 150px;
    height: 32px;
    letter-spacing: 2px;
    font-weight: bold;
    background-color: black;
    border: 2px solid rgba(66, 62, 3, 0.986);
    color: white;
    transition: 0.5s;
    cursor: pointer;
    margin-bottom: 10px;
}
#messagebtn button:hover{
    background-color: rgba(88, 76, 5, 0.521);
}

/* formulario contato end */

/* footer start */
#footer{
    width: 100%;
    background-color: black;
    padding: 100px;
    text-align: center;
}
#footer h1{
    color:  rgb(221, 190, 13);
    font-size: 20px;
}
#footer p{
    color: rgba(255, 255, 255, 0.87);
}
.icons{
    text-align: center;
}
.icons i{
    color: rgb(221, 190, 13);  
    border-radius: 50px;
    padding: 6px;
    font-size: 20px;
    transition: 0.5s;
    cursor: pointer;
}
.icons i:hover{
    background-color: rgba(82, 72, 6, 0.61); 
}
.copyright{
    color: rgba(255, 255, 255, 0.719);
    padding: 4px;
}

#contact input {
    background-color: black;
    color: white; /* Cor do texto digitado */
}

#contact input::placeholder {
    color: white;
}

/* footer end */

html{
    scroll-behavior: smooth;
}
.arrow{
    position: fixed;
    background: transparent;
    border: 50px;
    height: 50px;
    bottom: 40px;
    right: 50px;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
}


